:root {
  --footer-background-color: #333333;
  --icon-main-color: #FFFFFF;
}



body {
  font-family: "Open Sans", sans-serif;
}

/* скидання стилів */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ОФРМЛЕННЯ ХЕДЕРА */

.container {
  width: 1360px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
  align-items: center;
}

.header {
  outline: 1px solid tomato;
}
.logo {
}
.navigation {
}
.nav-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 38px;
}
.nav-item {
}
.nav-link {
  display: block;
  padding: 21px 0;
}


/* FOOTER  - стилізація*/
.footer {
  background-color: var(--footer-background-color)
}

.footer-main {
  display: flex;
  justify-content: center;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap:25px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.soc-link {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  }

.soc-icon {
  fill: var(--icon-main-color);
}

.copy-item {
  padding-bottom: 16px;
}

.copy-text {
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
}
