body {
  font-family: "Open Sans", sans-serif;
}

/* скидання стилів */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ОФРМЛЕННЯ ХЕДЕРА */

.container {
  width: 1360px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
  align-items: center;
}

.header {
  outline: 1px solid tomato;
}
.logo {
}
.navigation {
}
.nav-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 38px;
}
.nav-item {
}
.nav-link {
  display: block;
  padding: 21px 0;
}

/* ------------------section callback---------*/

.callback {
  text-transform: capitalize;
}

.container-callback {
  display: flex;
}

.form-callback {
  background-color: #f4f4f4;
  padding: 80px 30px;
}

.title-callback {
  margin-bottom: 34px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  color: #333333;
}

.enter {
  display: block;
  padding: 5px;
  background-color: #FFFFFF;
  
  font-size: 18px;
  line-height: 1.56;
  color: #808080;
}
.name {
  margin-bottom: 36px;
}
.email {
  margin-bottom: 60px;
}

.button-callback {
  width: 620px;
  height: 42px;
  
  background-color: #28A745;
  border-radius: 5px;
  border-color: transparent;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: #FFFFFF;
  text-transform: inherit;
}