@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
    width: 1360px;
    padding-left: 28px;
    padding-right: 28px;
}
body {
    font-family: "Open Sans", sans-serif;
    color: var(--main-color-text);
}