<section>
    <div class="blog container">
      <div class="about-blog">
        <p class="date">April 16 2020</p>
        <h2 class="title-blog">Blog Post One</h2>
        <p class="text-blog">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptate, ipsum dignissimos quae laudantium asperiores nam
          aliquid impedit harum illum dolore explicabo ab dolores itaque
          rerum temporibus doloribus iste maiores deleniti?
        </p>
        <a class="link-blog link" href="./index.html">Read Our Blog</a>
      </div>
      <div>
        <img
          class="img-blog"
          src="./images/foto_read_our_blog.jpg"
          alt="notebooks and a tablet"
          width="680"
          height="517"
        />
      </div>
    </div>
  </section>