<footer class="footer section">
  <div class="container footer-main">
    <ul class="soc-list">
      <li class="soc-item">
        <a href="" class="soc-link">
          <svg class="soc-icon" width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item">
        <a href="" class="soc-link">
          <svg class="soc-icon" width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item">
        <a href="" class="soc-link">
          <svg class="soc-icon" width="40" height="35">
            <use href="./images/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item">
        <a href="" class="soc-link">
          <svg class="soc-icon" width="31" height="35">
            <use href="./images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="copy-text">Copyright &copy; 2021 - FinanceLedger</p>
  </div>
</footer>