<section class="callback">
    <div class="container container-callback">
      <div class="foto-callback">
        <img
          src="./images/foto-callback.jpg"
          alt="хлопець з телефоном дивиться в ноутбук кому необхідно передзвонити"
          width="680"
          height="460"
        />
      </div>
      <div class="form-callback">
        <h2 class="title-callback">request callback</h2>
        <p class="enter name">enter your name</p>
        <p class="enter email">enter email*</p>
        <button type="button" class="button-callback">send</button>
      </div>
    </div>
  </section>