<header class="header">
    <div class="container header-container">
        <a class="logo" href="#">Finance <span>Ledger</span></a>
        <nav class="navigation">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="">About</a></li>
                <li class="nav-item"><a class="nav-link" href="">Cases</a></li>
                <li class="nav-item"><a class="nav-link" href="">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>