<section class="section solutions">
    <div class="container solutions-block">
        <img src="./images/team1-min.jpg" alt="Група із шести людей у офісі" />
        <div class="list">
            <ul class="solutions-list">
                <li class="solutions-item">
                    <p class="solutions-question">What you are looking for</p>
                </li>
                <li class="solutions-item">
                    <h2 class="solutions-title">We provide bespoke solutions</h2>
                </li>
                <li class="solutions-item">
                    <p class="solutions-text">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Voluptate, ipsum dignissimos quae laudantium asperiores nam
                        aliquid impedit harum illum dolore explicabo ab dolores itaque
                        rerum temporibus doloribus iste maiores deleniti?
                    </p>
                </li>
                <li>
                    <a href="" class="solutions-link">Read More</a>
                </li>
            </ul>
        </div>
    </div>
</section>