<section class="team-section">
    <div class="conainer">
      <p class="team-uptitle">Who we are</p>
      <h2 class="team-title">Our Professional Team</h2>
      <p class="team-subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
      <ul class="team-list">
        <li class="team-item">
          <div class="thumb">
            <img
              class="team-img"
              src="./images/john_doe.jpg"
              alt="Man in a suit"
            />
            <ul class="soc-list">
              <li class="soc-item">
                <a class="soc-link link" href="http://facebook.com">
                  <svg class="soc-icon" width="35" height="35">
                    <use
                      href="./images/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="http://twitter.com">
                  <svg class="soc-icon" width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="https://youtube.com">
                  <svg class="soc-icon" width="40" height="35">
                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="http://LinkedIn.com">
                  <svg class="soc-icon" width="31" height="35">
                    <use
                      href="./images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <h3 class="title">John Doe</h3>
          <p class="role">President</p>
        </li>
        <li class="team-item">
          <div class="thumb">
            <img
              class="team-img"
              src="./images/jane_doe.jpg"
              alt="Stylish woman"
            />
            <ul class="soc-list">
              <li class="soc-item">
                <a class="soc-link link" href="http://facebook.com">
                  <svg class="soc-icon" width="35" height="35">
                    <use
                      href="./images/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="http://twitter.com">
                  <svg class="soc-icon" width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="https://youtube.com">
                  <svg class="soc-icon" width="40" height="35">
                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="http://LinkedIn.com">
                  <svg class="soc-icon" width="31" height="35">
                    <use
                      href="./images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <h3 class="title">Jane Doe</h3>
          <p class="role">Vice President</p>
        </li>
        <li class="team-item">
          <div class="thumb">
            <img
              class="team-img"
              src="./images/steve_smith.jpg"
              alt="man in a white shirt"
            />
            <ul class="soc-list">
              <li class="soc-item">
                <a class="soc-link link" href="http://facebook.com">
                  <svg class="soc-icon" width="35" height="35">
                    <use
                      href="./images/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="http://twitter.com">
                  <svg class="soc-icon" width="35" height="35">
                    <use href="./images/symbol-defs.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="https://youtube.com">
                  <svg class="soc-icon" width="40" height="35">
                    <use href="./images/symbol-defs.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="soc-item">
                <a class="soc-link link" href="http://LinkedIn.com">
                  <svg class="soc-icon" width="31" height="35">
                    <use
                      href="./images/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <h3 class="title">Steve Smith</h3>
          <p class="role">Marketing Head</p>
        </li>
      </ul>
    </div>
  </section>