.hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    width: 100%;

    padding-top: 280px;
    padding-bottom: 280px;
}

.hero-container {
    margin-left: auto;
    margin-right: auto;
}