.container.solutions-block {
    display: flex;
    height: 460px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--section-background-color);
    border-radius: 0px;
}

.solutions-question {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 16px;
}

.solutions-title {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 16px;
}

.solutions-text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 16px;
}

.solutions-list {
    padding-top: 84px;
    padding-right: 44px;
    padding-bottom: 84px;
    padding-left: 30px;
}

.solutions-link {
    display: inline-block;
    color: var(--main-color-text);
    font-size: 18px;
    line-height: 1.56;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding-top: 12px;
    padding-right: 35px;
    padding-bottom: 12px;
    padding-left: 35px;

}