
.team-uptitle{
    font-size: 20px;
    line-height: 1.65;
  
    text-align: center;
    padding-top: 50px;
    margin-bottom: 15px;
    color: #333333;
  }
  .team-title{
    font-weight: 300;
    font-size: 38px;
    line-height: 1.26;
    
    text-align: center;
    margin-bottom: 34px;
  
    color: #333333;
  }
  .team-subtitle{
    font-size: 18px;
    line-height: 1.56;
    
    text-align: center;
    margin-bottom: 45px;
  
    color: #333333;
  }
  .team-item {
    text-align: center;
  }
  .team-img{
    max-width: 420px;
    max-height: 280px;
    margin-bottom: 13px;
  }
  .team-item .title {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.28;
    
    text-align: center;
    margin-bottom: 12px;
  
    color: #333333;  
  }
  .team-item .role  {
    font-size: 18px;
    line-height: 28px;
  
    color: #333333;
  
    text-align: center;
    padding-bottom: 59px;
  }
  
  .thumb {
    position: relative;
  }
  .team-list {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .thumb:hover .soc-link {
    opacity: 1;
  }
  .soc-list {
    display: flex;
    justify-content: center;
    gap:25px;
    padding-bottom: 10px;
  }
  
.thumb .soc-list {
    position: absolute;
    top: 130px;
    left: 102px;
}

  .soc-link {
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    }
  
  .soc-icon {
    fill: var(--icon-main-color);
  }
  
  
  .copy-text {
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
    text-align: center;
  }